RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.breezepv.mx [NC]
RewriteRule ^(.*)$ http://breezepv.mx/$1 [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

